.listContainer {
    min-height: 60vh;

    .listTitle {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }

    .item {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding-top: 1rem;

        .button {
            margin-left: auto
        }

        label {
            font-size: 1.1rem;
        }
    }
}