$default-font-color: #f0f0f0;
$background-color: #16293f;
$container-bgcolor: #172b42;
$container-bordercolor: #474747;
$textbox-bordercolor: #787878;
$button-textcolor: #fff;
$button-hovercolor: #000;
$add-button-color: #73d343;
$delete-button-color: #c166da;
$round-border-radius: 10px;

// media-query
@mixin mq($size) {
    @media only screen and (min-width: $size) {
        @content;
    }
};

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    color: $default-font-color;
    width: 100%;
    min-height: 100%;
    @include mq(768px) { // high-pad-size (tablet size)
        font-size: 22px;
    }
}

body {
    padding: 20px;
    background-color: $background-color;
}

section {
    background-color: $container-bgcolor;
    width: 90%;
    max-width: 700px;
    margin: auto;
    border: 1px solid $container-bordercolor;
    border-radius: $round-border-radius;
    padding: 0.75rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}